flows.json
[{"id":"ebd5378453fd4972","type":"tab","label":"Flow 3","disabled":false,"info":"","env":[]},{"id":"a8429102116adf8c","type":"inject","z":"ebd5378453fd4972","name":"A","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"A\":\"1\",\"B\":0}","payloadType":"json","x":590,"y":340,"wires":[["458c24973cc4f22b"]]},{"id":"56e350e2f4664fc7","type":"inject","z":"ebd5378453fd4972","name":"B","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"A\":\"0\",\"B\":1}","payloadType":"json","x":590,"y":400,"wires":[["458c24973cc4f22b"]]},{"id":"43e8c5b8fc7fd3d8","type":"inject","z":"ebd5378453fd4972","name":"X","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"A\":\"1\",\"B\":1}","payloadType":"json","x":590,"y":520,"wires":[["458c24973cc4f22b"]]},{"id":"5d1c16ab8d57b513","type":"inject","z":"ebd5378453fd4972","name":"AB","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"A\":\"0\",\"B\":0}","payloadType":"json","x":590,"y":460,"wires":[["458c24973cc4f22b"]]},{"id":"458c24973cc4f22b","type":"change","z":"ebd5378453fd4972","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.A","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":420,"wires":[["91487e7d52b6dcb5"]]},{"id":"91487e7d52b6dcb5","type":"mqtt out","z":"ebd5378453fd4972","name":"arduino","topic":"arduino","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9796da3cd13cc436","x":1260,"y":420,"wires":[]},{"id":"955d54b9de8001c0","type":"debug","z":"ebd5378453fd4972","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":760,"wires":[]},{"id":"d41d3e19a2d68cec","type":"mqtt in","z":"ebd5378453fd4972","name":"arduino","topic":"arduino","qos":"0","datatype":"auto-detect","broker":"9796da3cd13cc436","nl":false,"rap":true,"rh":0,"inputs":0,"x":570,"y":780,"wires":[["955d54b9de8001c0","46b94c7b94442175"]]},{"id":"46b94c7b94442175","type":"ui_chart","z":"ebd5378453fd4972","name":"","group":"7f2cee22.3f597","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":1250,"y":840,"wires":[[]]},{"id":"9796da3cd13cc436","type":"mqtt-broker","name":"arduino","broker":"broker.hivemq.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7f2cee22.3f597","type":"ui_group","name":"First","tab":"10a978e.c50e287","order":1,"disp":true,"width":6,"collapse":false,"className":""},{"id":"10a978e.c50e287","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]